*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Times New Roman", Serif;
    font-size: 20px;
}
body{
    background: #d6ffc8;
}
.row{
    margin: auto;
}
header{
    height: auto;
}
img{
    margin: 0;
    height:60%;
    width:35%;
    border-radius: 50%;
    border: 1px solid black;
}
#img{
    text-align: center;
    padding-top: 10px;
}
.cv_name{
    text-align: left;
    font-size: 40px;
    padding-top: 40px;
}

.semi-bold{
    text-align: justify;
    font-weight: 500;
}
p{
    margin: 0;
    text-align: justify;
}
span{
    width: 2cm;
}
.bold{
    font-weight: 700;
    font-size: 25px;
    text-transform: uppercase;
    color: blue;
    text-align: center;
}

.skill_name{
    margin: 0;
    color: green;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: underline solid rgb(68, 68, 68);
}
.list-group-item{
    margin: auto;
    color: black;
    border: none;
    text-align: justify;
    height:auto;
    padding: 0;
    background: #d6ffc8;
}

dl, dd{
    text-align: justify;
    list-style-type: circle;
}

.date{
    font-weight: 700;
    color: #8f2392;
}
@media screen and (min-width: 150px) and (max-width: 700px) {
    body{
        background: white;
    }
    header, .row {
        flex-direction: column;
        background: #ffffff;
        padding: 0;
        width: 600px;
        height: auto;
    }
    img{
        display: none
    }
    .list-group-item{
        background: #ffffff;
    }
    .cv_name{
        font-size: 25px;
        font-weight: bold;
        padding:0 ;
        float: left;
    }

}

